.table {
  font-size: 12px;
  text-align: center;

  @media (max-width: 992px) {
    font-size: .75rem;
  }
  @media (max-width: 768px) {
    font-size: .60rem;
  }
  @media (max-width: 400px) {
    font-size: .50rem
  }
}


table > .ant-table-thead > tr > th{
  text-align: center;
  // background-color: #FEF0E8;
  @media (max-width: 992px) {
    font-size: .75rem;
  }
  @media (max-width: 768px) {
    font-size: .60rem;
  }
  @media (max-width: 400px) {
    font-size: .40rem
  }
}
.ant-table-row-expand-icon-cell {

}

.ant-table-row-expand-icon {

}

.low {
  background: #EEFAE5;
}

.moderate {
  background: #FDF2DD;
}

.high {
  background: #FCE2E1;
}


