.table {
  text-align: center;
  font-size: .75rem;

  @media (max-width: 992px) {
    font-size: .75rem;
  }
  @media (max-width: 768px) {
    font-size: .65rem;
  }
  @media (max-width: 400px) {
    font-size: .45rem;
  }
}


table > .ant-table-thead > tr > th{
  text-align: center;
  font-size: .75rem;

  @media (max-width: 992px) {
    font-size: .75rem;
  }
  @media (max-width: 768px) {
    font-size: .65rem;
  }
  @media (max-width: 400px) {
    font-size: .45rem;
  } 
}
.ant-table-row-expand-icon-cell {

}

.ant-table-row-expand-icon {

}

.ant-table-thead > tr > th, .ant-table-tbody > tr > td {
  word-break: normal !important;
}
.low {
  background: #EEFAE5;
}

.moderate {
  background: #FDF2DD;
}

.high {
  background: #FCE2E1;
}


